@model List<Category>
<a asp-controller="Category" asp-action="Create" class="btn btn-primary mx-2">Add Category</a>
<h1>Category List</h1>
<table id="category-table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/js/datatables/datatables.min.js"></script>
    <script src="~/js/category/index.js"></script>
}